<%= form_with model: [ post, post.comments.build ] do |form| %>
    <p>
      <%= form.label :body %><br>
      <%= form.text_area :body %>
    </p>
    <% if @comment&.errors %> 
    <div class="error-messages">
      <% @comment.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>
    <p>
      <%= form.submit %>
    </p>
  <% end %>
  