<h1>Posts</h1>

<h2><%= link_to "Create New Post", new_post_path %></h2>

<div id='separator'></div> 
<div>
  <% @posts.each do |post| %>
    <div class="card">
    <h2>
      @<%= post.user.name %>: 
      <%= link_to post.title, post %>
    </h2>
      <h4><%= post.body %></strong></h4>
      <p><%= post.comments.size %> comments </p>
      <p>Updated <%= post.updated_at %></p>
    </div>
  <% end %>
</div>
