<h1>Posts</h1>

<ul>
  <% @posts.each do |post| %>
    <h2><%= link_to post.title, post %></h2>
    <li>
      <%= post.updated_at %>
    </li>
    <li>
      Posted by: <%= post.user.name %>
    </li>
    <li>
      Number of Comments: <%= post.comments.size %>
    </li>
  <% end %>
</ul>

<%= link_to "New Post", new_post_path %>