<h1>Posts</h1>

<div id='separator'></div> 
<div>
  <% @posts.each do |post| %>
    <h2><%= link_to post.title, post %></h2>
    <h4><%= post.body %></strong></h4>
    <p>Posted by: <%= post.user.name %><br/>
    <%= post.comments.size %> comments </p>
    <p>Updated <%= post.updated_at %></p>
    <div id='separator'></div> 
  <% end %>
</div>

<%= link_to "New Post", new_post_path %>