<h1><%= @post.title %></h1>

<div>
<p><strong>@<%= @post.user.name %> wrote: </strong><%= @post.body %></p>
</div>

<% if @post.user_id == session[:user_id] %>
  <p><%= link_to "Edit Post", edit_post_path(@post) %> |
  <%= link_to "Delete Post", post_path(@post), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %>
  </p>
<% end %>

<div id='separator'></div> 

<h2>Comments</h2>
<%= render @post.comments %>


<h2>Add a comment:</h2>
<%= render "comments/form", post: @post %>

<%= link_to "Back to All Posts", root_path %>